<!DOCTYPE html>
<htmllang="en">
<head>
    <metacharset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    <linkrel="stylesheet"href="{% static 'css/main.css' %}">
    <linkrel="stylesheet"href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"crossorigin="anonymous" />
    <linkrel="stylesheet"href="{% static 'css/main.css' %}" />

</head>
<bodyclass="h-100">

    <divclass="container h-100">
        <divclass="row h-100 justify-content-center align-items-center">
            <divclass="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5"id="auth-container">

                <imgsrc="{% static "img/instagram.png" %}"class="img-fluid rounded mx-auto d-block pb-4"style="max-width: 60%;">

                {% block container %}{% endblock%}

            </div>
        </div>
    </div>

</body>
</html>